<div class="row">
<label>Add More Details Here</label>
<div class="well well-lg">
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" id="specificationTitle" name="specificationTitle" formControlName="specificationTitle" >
  </div>
  <div class="form-group">
    <label>Details</label>
    <textarea id="specificationDetail" name="specificationDetail" class="form-control"></textarea>
  </div>
</div> 
<div class="form-group">
  <a class="btn btn-primary pull-right" (click)="removeObject()"><span class="glyphicon glyphicon-trash"></span></a> 
</div>
</div>
